# *.p
.DS_Store
.ipynb_checkpoints/
# Data/
RegResult/
Workplace/
# RaceVaccineBackup/
Part2/

__pycache__/*
*.pyc 



_other/
DoctorReview/
*/DocListDF_All.p
*.sql
*.html
*0.p
*.pptx


*/NPI2URL

doctor_directory/Data
doctor_directory/Output

google_search/Data/NPPESMDDOPhysician.p
google_search/Output/*.p

doctor_reviews/Data/DOJ
doctor_reviews/Data/*.p
doctor_reviews/Data/*.csv
doctor_reviews/Data/*.txt
doctor_reviews/Output/


final_analysis/Data/NPPES 
final_analysis/Data/Reviews 

final_analysis/Output/MinText0/*.p 
final_analysis/Output/MinText1/*.p 

