# *.p
.DS_Store
.ipynb_checkpoints/
# Data/
Part2/



__pycache__/*
*.pyc 



_other/
_etc/

_etc/*.png 
doctor_reviews/

DoctorReview/Data

*/DocListDF_All.p
*.sql
*.html
*0.p
*.pptx
*Icon*

*/NPI2URL

doctor_directory/Data
doctor_directory/Output

google_search/Data/NPPESMDDOPhysician.p
google_search/Output/*.p

doctor_reviews/Data/DOJ
doctor_reviews/Data/*.p
doctor_reviews/Data/*.csv
doctor_reviews/Data/*.txt
doctor_reviews/Output/


final_analysis/Data/
final_analysis/LMER/
final_analysis/Output/
final_analysis/ReviewDF/

final_analysis/Output/MinText0/*.p 
final_analysis/Output/MinText1/*.p 

