# *.p
.DS_Store
.ipynb_checkpoints/
# Data/
RegResult/
Workplace/
# RaceVaccineBackup/
Part2/

__pycache__/*
*.pyc 

Output/

_other/
DoctorReview/
*/DocListDF_All.p
*.sql
*.html
*0.p
*.pptx


DAC_*.*
DOC_*.*

*/NPI2URL